:root {
    --skyblue: rgb(146, 204, 205);
    --slategray: rgb(49, 52, 61);
    --powderblue: rgb(61, 74, 112);
}

body {
    color: blue;
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
}

p {
    color: var(--powderblue);
}

header {
    /* margin-left :10%; */
    font-size: 2em;
    background-color: var(--skyblue);
    color: var(--slategray);
    position: absolute;
    padding-left: 10%;
}

h2 {
    font-size: 2vmax;
    color: var(--powderblue);
    position: relative;
    width: 8vw;
    right: 10vw;
    top: 10vh;
    border-right: solid;
    padding: 8px;
    text-align: right;
}

nav {
    background-color: var(--slategray);
    color: var(--skyblue);
    height: 10vh;
    padding: 20px;
    margin-right: 1vw;
    }

a {
    color: var(--skyblue);
}

nav ul{
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: var(--slategray)
}

article {
    display: inline;
    float: right;
    /* padding: 20px; */
}

section {
    padding: 0 0 0 10vw;
    margin: 0 0 10vw 5vw;
    width: 80%;
}

.Work img{
    border: var(--skyblue);
    border-style: solid;
    border-width: 5px;
}

#ContactMe {
    display: flex;
    color: var(--slategray);
    justify-content: space-evenly;
    list-style: none;
}

.ContactMe {
    position: relative;
    top: 5vh;
}

/* Image fade-in */
img {
    opacity: .5;
    transition-duration: 1s;
}

img:hover{
    opacity: 100%;
}