/* declare theme colors as vars */
:root {
    --skyblue: rgb(146, 204, 205);
    --slategray: rgb(49, 52, 61);
    --powderblue: rgb(61, 74, 112);
}

body {
    color: var(--powderblue);
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
}

header {
    background-color: var(--skyblue);
    color: var(--slategray);
    position: relative;
    padding-left: 10%;
    box-sizing: content-box;
    float: left;
}

/* my name */
h1 {
    position: relative;
    font-size: 6vh;
    right: 30px;
}

/* section headings */
h2 {
    font-size: 4vh;
    color: var(--powderblue);
    position: relative;
    right: 10vw;
    border-right: solid;
    text-align: right;
    box-sizing: border-box;
}

/* card titles */
h3 {
    font-size: 4vh;
    color: var(--powderblue);
    background-color: var(--skyblue);
    position: absolute;
    bottom: 6vh;
    left: 1vw;
}

h4 {
    font:-size: 2vh;
    background-color: var(--skyblue);
    position: absolute;
    bottom: 3vh;
    left: 1vw;
}

/* descriptive text */
p {
    font-size: 3vh;
    color: var(--powderblue);
    position: relative;
}

/* nav links */
a {
    color: var(--skyblue);
}

li {
    margin: 0 2vw;
}

/* nav bar  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--slategray);
    color: var(--skyblue);
    height: 10vh;
    object-fit: cover;
    width: auto;
}

nav ul{
    background-color: var(--slategray)
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

/* contains page elements on white background */
article {
    display: flex;
    align-self: end;
    align-items: flex-end;
    flex-direction: column;
    object-fit: contain;
    width: 85vw;
    flex-wrap: wrap;
    padding: 2vw;
}

section {
    padding: 0 0 0 10vw;
    margin: 5vh 5vw;
    width: auto;
    display: flex;
}

.Card {
    position: relative;
}

.AboutMe {
    padding-right: 5vw;
}

.Work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.Work img{
    border: var(--skyblue);
    border-style: solid;
    border-width: 5px;
    align-items: flex-end;
    opacity: .5;
    transition-duration: 1s;
    justify-content: end;
}

.Work img:hover{
    opacity: 100%;
}

.small {
    width: 40%;
}

.ContactMe {
    position: relative;
}

#cover {
    background-size: cover;
}

#hero {
    width: 100%;
}

#ContactMe {
    display: flex;
    color: var(--slategray);
    justify-content: space-evenly;
    list-style: none;
    align-self: flex-end;
}

@media screen and (max-width: 720px) {
    .small {
        width: 100%;
    }
    nav {
        height: 20vw;
    }
    #ContactMe {
    flex-direction: column;
    line-height: 1.2em;
    }
}
