:root {
    --skyblue: rgb(146, 204, 205);
    --slategray: rgb(49, 52, 61);
    --powderblue: rgb(61, 74, 112);
}

body {
    color: blue;
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
}

p {
    color: var(--powderblue);
    position: relative;
}

header {
    background-color: var(--skyblue);
    color: var(--slategray);
    position: relative;
    padding-left: 10%;
    box-sizing: content-box;
    float: left;
}

h1 {
    position: relative;
    font-size: 40px;
    right: 30px;
}

h2 {
    font-size: 2vmax;
    color: var(--powderblue);
    position: relative;
    width: 8vw;
    right: 10vw;
    top: 10vh;
    border-right: solid;
    padding: 8px;
    text-align: right;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--slategray);
    color: var(--skyblue);
    height: 10vh;
    /* padding: 5vw; */
    /* margin: 1vw; */
    }

a {
    color: var(--skyblue);
}

nav ul{
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: var(--slategray)
}

li {
    margin: 0 2vw;
}

article {
    display: flex;
    align-self: end;
    flex-direction: column;
    object-fit: contain;
    width: 60%;
    flex-wrap: wrap;
    /* padding: 20px; */
}

section {
    padding: 0 0 0 10vw;
    margin: 0 0 10vw 5vw;
    width: auto;
}

.Work {
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: flex-start;
}

.Work img{
    border: var(--skyblue);
    border-style: solid;
    border-width: 5px;
    align-items: flex-end;
    opacity: .5;
    transition-duration: 1s;
    justify-content: end;
    object-fit: cover;
    /* margin: 5px; */
}

.Work p {
    position: absolute;
}

.Work img:hover{
    opacity: 100%;
}

#ContactMe {
    display: flex;
    color: var(--slategray);
    justify-content: space-evenly;
    list-style: none;
    align-self: flex-end;
}

#hero {
    width: 100%;
}

.smol {
    width: 50%;
}

.ContactMe {
    position: relative;
    top: 10vh;
}
